.logos-container {
  margin: 20px 0 40px 0;
  text-align: center;
  svg {
    display: inline-block;
  }
}

.devextreme-logo {
  width: 200px;
  height: 34px;
  margin-bottom: 13px;
}

.angular-logo {
  width: 220px;
  height: 62px;
}

.plus {
  margin: 15px 10px;
  width: 22px;
  height: 22px;
}

:host-context(.screen-x-small) .logos-container {
  svg {
    width: 100%;
    display: block;
    &.plus {
      margin: 0;
    }
  }
}

.main-data-container {
  display: flex;
  gap: 5px;
  height: 580px;
  position: relative;

  .container-data {
    width: 45%;
    border: solid 1px #26429373;
    border-radius: 5px;
    background-color: white;
  }
  .container-detail {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.card-container {
  height: 95%;
  width: 60%;
  margin: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 35px;

  .card-title {
    font-weight: 600;
    font-size: 22px;
  }

  .card-info-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    
    .card-info-seccion {
      p {
        font-size: 18px;
        font-weight: 600;
        margin: 0px;
        margin-bottom: 4px;
        margin-top: 10px;
      }

      ul {
        list-style: none;
        font-size: 14px;
        font-weight: 400;
        margin: 0px;
        margin-bottom: 10px;
      }
      width: 30%;
    }
  }
  .card-extra-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    span {
      font-weight: 600;
    }
  }
}

.data-icon {
  background-color: black;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}